In [35]:
import pandas as pd
import numpy as np
import xlrd
import matplotlib.pyplot

In [5]:
df1 = pd.read_excel(r'C:\Users\isaco\Downloads\buyers1.xlsx', sheetname= 'buyer') # путь к файлу
df2 = pd.read_excel(r'C:\Users\isaco\Downloads\buyers1.xlsx', sheetname= 'lead')

c:\users\isaco\appdata\local\programs\python\python36-32\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [6]:
df1.columns = ['buyer_id', 'buyer_name', 'max_lead', 'max_budget', 'priority', 'region']
df1

,buyer_id,buyer_name,max_lead,max_budget,priority,region
0,406,Первая Юридическая Компания,200,\N,0,Москва
1,406,Первая Юридическая Компания,200,\N,0,Московская область
2,1630,КМ Груп (Таганка),500,\N,0,Москва
3,1630,КМ Груп (Таганка),500,\N,0,Московская область
4,2078,Бауман (юристы),\N,\N,0,Москва
5,2078,Бауман (юристы),\N,\N,0,Московская область
6,2078,Бауман (юристы),\N,\N,0,Москва
7,2078,Бауман (юристы),\N,\N,0,Московская область
8,2118,Варданян Антон Варданович,80,\N,0,Москва
9,2118,Варданян Антон Варданович,80,\N,0,Московская область
10,2179,Марат (Москва),\N,\N,0,Москва
11,2179,Марат (Москва),\N,\N,0,Московская область
12,3464,\N,10,\N,0,Москва
13,3464,\N,10,\N,0,Московская область
14,3516,Миграционный центр (Мск),10000,\N,1,Москва
15,3516,Миграционный центр (Мск),10000,\N,1,Московская область
16,4552,Добрынинка,\N,\N,0,Москва
17,4552,Добрынинка,\N,\N,0,Московская область
18,5175,Юрий,70,\N,0,Москва
19,5175,Юрий,70,\N,0,Московская область
20,5175,Юрий,70,\N,0,Москва
21,5175,Юрий,70,\N,0,Московская область
22,5267,Социалка,500,\N,1,Москва
23,5267,Социалка,500,\N,1,Московская область
24,6671,czpplyalin2,\N,\N,0,Москва
25,6671,czpplyalin2,\N,\N,0,Московская область
26,7588,Context,500,\N,1,Москва
27,7588,Context,500,\N,1,Московская область
28,18053,Неюр траф Мск,750,\N,0,Москва
29,18352,Грачев Богдан Игоревич,10,\N,0,Москва
...,...,...,...,...,...,...
42,18963,Алпатова вера Васильевна,50,\N,0,Москва
43,18963,Алпатова вера Васильевна,50,\N,0,Московская область
44,19570,Анна Григоря,\N,\N,0,Москва
45,19570,Анна Григоря,\N,\N,0,Московская область
46,19798,Алексей Викторович Маненков,200,\N,0,Москва
47,19798,Алексей Викторович Маненков,200,\N,0,Московская область
48,19892,Матвеев Алексей Юрьевич,\N,\N,0,Москва
49,19892,Матвеев Алексей Юрьевич,\N,\N,0,Московская область
50,20315,Латынина Маргарита,50,\N,0,Москва
51,20315,Латынина Маргарита,50,\N,0,Московская область
52,20366,Иванов Игорь Викторович,40,\N,0,Москва
53,20366,Иванов Игорь Викторович,40,\N,0,Московская область
54,20414,Елена Рудина,30,\N,0,Москва
55,20414,Елена Рудина,30,\N,0,Московская область
56,20444,Сагайдачная Елена Валерьевна,10,\N,0,Москва
57,20444,Сагайдачная Елена Валерьевна,10,\N,0,Московская область
58,20460,Никита,50,\N,0,Москва
59,20460,Никита,50,\N,0,Московская область
60,20525,Пухов Александр Владимирович,50,\N,0,Москва
61,20525,Пухов Александр Владимирович,50,\N,0,Московская область
62,20553,Еремина Алла Витальевна,100,\N,0,Москва
63,20553,Еремина Алла Витальевна,100,\N,0,Московская область
64,20554,Клименко Нина Петровна,100,\N,0,Москва
65,20554,Клименко Нина Петровна,100,\N,0,Московская область
66,20583,Васильева Ирина Игоревна,5,\N,0,Москва
67,20583,Васильева Ирина Игоревна,5,\N,0,Московская область
68,20597,Прокопенко Станислав Игоревич,100,\N,0,Москва
69,20597,Прокопенко Станислав Игоревич,100,\N,0,Московская область
70,20667,Иванов Иван Иванович,30,\N,0,Москва
71,20667,Иванов Иван Иванович,30,\N,0,Московская область

In [7]:
df2

,id Лида,Дата создания,Имя клиента,Телефон клиента,Email клиента,Регион клиента,Цена лида,id Покупателя
0,7123456789,2018-06-26 16:09:46,Олег,7123456789,NaN,Москва,125.0,4552.0
1,7123456789,2018-06-26 16:09:45,Лариса,7123456789,NaN,москвв,360.0,19798.0
2,7123456789,2018-06-26 16:09:32,алексей,7123456789,NaN,Москва Россия,360.0,18567.0
3,7123456789,2018-06-26 16:08:59,оганес,7123456789,NaN,Москва Россия,360.0,20525.0
4,7123456789,2018-06-26 16:08:47,Саша,7123456789,NaN,Москва,25.0,18053.0
5,7123456789,2018-06-26 16:08:08,Иван,7123456789,NaN,Москва Россия,25.0,18053.0
6,7123456789,2018-06-26 16:07:23,Анастасия,7123456789,NaN,Москва,25.0,18053.0
7,7123456789,2018-06-26 16:07:22,Мария,7123456789,NaN,Москва,25.0,18053.0
8,7123456789,2018-06-26 16:07:19,Ольга,7123456789,NaN,Москва,25.0,18053.0
9,7123456789,2018-06-26 16:06:21,Альбина,7123456789,\N,Москва,25.0,18053.0
10,7123456789,2018-06-26 16:06:14,мария,7123456789,NaN,москва,25.0,18053.0
11,7123456789,2018-06-26 16:05:38,Наталья,7123456789,NaN,москва,360.0,18567.0
12,7123456789,2018-06-26 16:05:22,Владимир,7123456789,NaN,город Москва,40.0,5267.0
13,7123456789,2018-06-26 16:04:36,Яна,7123456789,NaN,москва,25.0,18053.0
14,7123456789,2018-06-26 16:03:39,Ирина,7123456789,NaN,Москва Россия,25.0,18053.0
15,7123456789,2018-06-26 16:02:52,Эрик,7123456789,\N,Москва Россия,90.0,2078.0
16,7123456789,2018-06-26 16:02:36,светлана,7123456789,NaN,москва,25.0,18053.0
17,7123456789,2018-06-26 16:01:29,Валерий,7123456789,\N,Москва,360.0,19798.0
18,7123456789,2018-06-26 16:00:42,лиза,7123456789,NaN,Москва,25.0,18053.0
19,7123456789,2018-06-26 16:00:39,Гуля Курбанова,7123456789,NaN,москва,25.0,18053.0
20,7123456789,2018-06-26 15:58:44,татьяна,7123456789,NaN,Москва Россия,25.0,18053.0
21,7123456789,2018-06-26 15:58:40,любовь,7123456789,NaN,москва,360.0,20460.0
22,7123456789,2018-06-26 15:58:06,Елена,7123456789,NaN,москва,90.0,2078.0
23,7123456789,2018-06-26 15:57:17,Садеков Амир,7123456789,NaN,Москва Россия,25.0,18053.0
24,7123456789,2018-06-26 15:56:17,liana,7123456789,NaN,Щёлково,360.0,5175.0
25,7123456789,2018-06-26 15:55:55,Артем,7123456789,NaN,солнесногорск,160.0,6671.0
26,7123456789,2018-06-26 15:55:39,Манас,7123456789,NaN,масква,25.0,18053.0
27,7123456789,2018-06-26 15:55:20,Рушания,7123456789,NaN,москва,40.0,5267.0
28,7123456789,2018-06-26 15:55:17,марина,7123456789,\N,Москва Россия,25.0,18053.0
29,7123456789,2018-06-26 15:55:16,Наталья Халяпина,7123456789,NaN,Москва,25.0,18053.0
...,...,...,...,...,...,...,...,...
8983,7123456789,2018-06-19 01:48:05,Марат,7123456789,NaN,Орехово-Зуево,250.0,2179.0
8984,7123456789,2018-06-19 01:48:01,Кристина,7123456789,NaN,Москва,250.0,2179.0
8985,7123456789,2018-06-19 01:42:05,Анжела,7123456789,NaN,Москва,50.0,3516.0
8986,7123456789,2018-06-19 01:26:21,Владимир,7123456789,NaN,Рошаль,250.0,1630.0
8987,7123456789,2018-06-19 01:04:10,Дилшодбек,7123456789,NaN,москва,250.0,1630.0
8988,7123456789,2018-06-19 01:00:43,Маис,7123456789,NaN,москва,50.0,3516.0
8989,7123456789,2018-06-19 00:59:44,АЛИНА,7123456789,NaN,Москва,40.0,5267.0
8990,7123456789,2018-06-19 00:58:29,Залина,7123456789,NaN,г.Москва,250.0,1630.0
8991,7123456789,2018-06-19 00:57:31,Владимир,7123456789,NaN,Щёлково,40.0,5267.0
8992,7123456789,2018-06-19 00:45:36,Наталья,7123456789,NaN,Дедовск,250.0,1630.0
8993,7123456789,2018-06-19 00:43:14,Нахид,7123456789,NaN,Москва Россия,250.0,2179.0
8994,7123456789,2018-06-19 00:33:08,Роман,7123456789,NaN,Москвп,130.0,406.0
8995,7123456789,2018-06-19 00:26:52,Наталья,7123456789,NaN,Раменское,40.0,5267.0
8996,7123456789,2018-06-19 00:26:27,Юля,7123456789,NaN,москва,250.0,1630.0
8997,7123456789,2018-06-19 00:26:21,Николай,7123456789,NaN,москва,250.0,2179.0
8998,7123456789,2018-06-19 00:23:13,Сергей,7123456789,NaN,МОСКВА,250.0,2179.0
8999,7123456789,2018-06-19 00:21:21,татьяна,7123456789,NaN,Серпухов Россия,40.0,5267.0
9000,7123456789,2018-06-19 00:18:39,Нина Владимировна Крапухина,7123456789,\N,Москва,250.0,2179.0
9001,7123456789,2018-06-19 00:18:14,Ирина,7123456789,NaN,Москва,90.0,2078.0
9002,7123456789,2018-06-19 00:15:36,Елена,7123456789,NaN,Москва,250.0,2179.0
9003,7123456789,2018-06-19 00:14:45,Андрей,7123456789,NaN,Москва,40.0,5267.0
9004,7123456789,2018-06-19 00:14:19,Галина,7123456789,NaN,Москва Russia,40.0,5267.0
9005,7123456789,2018-06-19 00:11:17,Уляна,7123456789,NaN,красногорск,50.0,3516.0
9006,7123456789,2018-06-19 00:10:42,Армэндлинныйуй,7123456789,NaN,Москва Тверская область,250.0,1630.0
9007,7123456789,2018-06-19 00:09:33,Михаил,7123456789,NaN,Москва,90.0,2078.0
9008,7123456789,2018-06-19 00:07:43,Мурат,7123456789,NaN,Москва,50.0,3516.0
9009,7123456789,2018-06-19 00:07:30,Александр Ильич,7123456789,NaN,Москва можно позвонить сегодня я поздно ложусь,40.0,5267.0
9010,7123456789,2018-06-19 00:07:21,Лариса,7123456789,NaN,москва,50.0,3516.0
9011,7123456789,2018-06-19 00:03:33,анатолий,7123456789,NaN,москва,90.0,2078.0
9012,7123456789,2018-06-19 00:03:04,Анна,7123456789,\N,Подольск Россия,250.0,2179.0

In [8]:
df2.columns = ['lead_id', 'creation_date', 'lead_name', 'lead_phone', 'lead_email', 'lead_region', 'lead_price', 'buyer_id']
print(df2['lead_price'].apply(lambda x: float(x)).describe())
df2['lead_price'].plot();

count     9013.000000
mean       121.468895
std        233.028863
min         25.000000
25%         25.000000
50%         90.000000
75%        250.000000
max      19798.000000
Name: lead_price, dtype: float64

In [15]:
a = df2.groupby('buyer_id')['lead_id'].count().sort_values(ascending = False)
b = df2.groupby('buyer_id')['lead_price'].mean().sort_values(ascending = False)
d = pd.concat([a,b], axis = 1)
d.columns = ['lead_amount', 'lead_average_price']
d['budget'] = d['lead_amount']*d['lead_average_price']

print(d.sort_values(by = 'budget', ascending = False).describe())
d.sort_values(by = 'budget', ascending = False)

#байеров в файле - 73, в реальных покупателях - 26

       lead_amount  lead_average_price         budget
count    26.000000           26.000000      26.000000
mean    346.615385          249.889612   41346.198077
std     607.114492          121.039897   58986.206774
min       5.000000           25.000000     900.000000
25%      15.000000          166.721390    4860.000000
50%      82.000000          288.125000   21420.000000
75%     612.250000          360.000000   45600.000000
max    2796.000000          360.000000  220335.000000

          lead_amount  lead_average_price     budget
buyer_id
1630.0            893          246.735722  220335.00
2179.0            850          250.000000  212500.00
4552.0            981          124.703109  122333.75
2078.0            840           87.761905   73720.00
18053.0          2796           25.000000   69900.00
19798.0           165          360.000000   59400.00
20525.0           132          360.000000   47520.00
3516.0            801           49.737828   39840.00
5175.0             96          326.250000   31320.00
406.0             187          162.295187   30349.20
5267.0            754           40.000000   30160.00
18567.0            71          360.000000   25560.00
20597.0            67          360.000000   24120.00
20414.0            52          360.000000   18720.00
18865.0            93          180.000000   16740.00
6671.0            104          144.646154   15043.20
20460.0            16          360.000000    5760.00
19892.0            32          180.000000    5760.00
20553.0            15          360.000000    5400.00
20366.0            13          360.000000    4680.00
20667.0            11          360.000000    3960.00
20554.0             8          360.000000    2880.00
18642.0             8          360.000000    2880.00
7588.0             15          180.000000    2700.00
18685.0             7          360.000000    2520.00
3464.0              5          180.000000     900.00

In [19]:
print(d['lead_average_price'].apply(lambda x: float(x)).describe())

count     26.000000
mean     249.889612
std      121.039897
min       25.000000
25%      166.721390
50%      288.125000
75%      360.000000
max      360.000000
Name: lead_average_price, dtype: float64

In [23]:
print(np.percentile(d['lead_average_price'], 25))
print(np.percentile(d['lead_average_price'], 50))
print(np.percentile(d['lead_average_price'], 75))
print(np.percentile(d['lead_average_price'], 100))

166.72139037433155
288.125
360.0
360.0

In [25]:
print(np.percentile(d['lead_amount'], 25))
print(np.percentile(d['lead_amount'], 50))
print(np.percentile(d['lead_amount'], 75))
print(np.percentile(d['lead_amount'], 100))

15.0
82.0
612.25
2796.0

In [43]:
print(d['lead_amount'].apply(lambda x: float(x)).describe())

count      26.000000
mean      346.615385
std       607.114492
min         5.000000
25%        15.000000
50%        82.000000
75%       612.250000
max      2796.000000
Name: lead_amount, dtype: float64

In [ ]:
"вероятность получения лида = (p-q)^2, где q - значение от 1 до 4, означающее принадлежность к одному из 4-х квартилей по"
"количеству желаемых лидов, а p - значение от 1 до 4, означающее принадлежность к одному из 4-х квартилей по цене, которую"
"байер готов предложить за лид. Таким образом, между байерами с одинаковой ценой в приоритете те, кому нужно 10,20,50 заявок.

In [45]:
p1 = np.percentile(d['lead_average_price'], 25)
p2 = np.percentile(d['lead_average_price'], 50)
p3 = np.percentile(d['lead_average_price'], 75)
p4 = np.percentile(d['lead_average_price'], 100)

In [46]:
q1 = np.percentile(d['lead_amount'], 25)
q2 = np.percentile(d['lead_amount'], 50)
q3 = np.percentile(d['lead_amount'], 75)
q4 = np.percentile(d['lead_amount'], 100)

In [55]:
d['q'] = 0
d['p'] = 0
d

          lead_amount  lead_average_price     budget  q  p
buyer_id
406.0             187          162.295187   30349.20  0  0
1630.0            893          246.735722  220335.00  0  0
2078.0            840           87.761905   73720.00  0  0
2179.0            850          250.000000  212500.00  0  0
3464.0              5          180.000000     900.00  0  0
3516.0            801           49.737828   39840.00  0  0
4552.0            981          124.703109  122333.75  0  0
5175.0             96          326.250000   31320.00  0  0
5267.0            754           40.000000   30160.00  0  0
6671.0            104          144.646154   15043.20  0  0
7588.0             15          180.000000    2700.00  0  0
18053.0          2796           25.000000   69900.00  0  0
18567.0            71          360.000000   25560.00  0  0
18642.0             8          360.000000    2880.00  0  0
18685.0             7          360.000000    2520.00  0  0
18865.0            93          180.000000   16740.00  0  0
19798.0           165          360.000000   59400.00  0  0
19892.0            32          180.000000    5760.00  0  0
20366.0            13          360.000000    4680.00  0  0
20414.0            52          360.000000   18720.00  0  0
20460.0            16          360.000000    5760.00  0  0
20525.0           132          360.000000   47520.00  0  0
20553.0            15          360.000000    5400.00  0  0
20554.0             8          360.000000    2880.00  0  0
20597.0            67          360.000000   24120.00  0  0
20667.0            11          360.000000    3960.00  0  0

In [57]:
for row in d:
    if int(row['lead_amount']) < q1: row['q'] = 1
    elif int(row['lead_amount']) < q2: row['q'] = 2
    elif int(row['lead_amount']) < q3: row['q'] = 3
    else: row['q'] = 4
    if int(row['lead_average_price']) < p1: row['p'] = 1
    elif int(row['lead_average_price']) < p2: row['p'] = 2
    elif int(row['lead_average_price']) < p3: row['p'] = 3
    else: row['p'] = 4

ValueError: invalid literal for int() with base 10: 'l'

In [87]:
dic={}
for i, row in d.iterrows():
    if row['lead_amount'] < q1: row['q'] = 1
    elif row['lead_amount'] < q2: row['q'] = 2
    elif row['lead_amount'] < q3: row['q'] = 3
    else: row['q'] = 4
    if row['lead_average_price'] < p1: row['p'] = 1
    elif row['lead_average_price'] < p2: row['p'] = 2
    elif row['lead_average_price'] < p3: row['p'] = 3
    else: row['p'] = 4    
    dic[i] = ((row['p']-row['q'])**2)

In [110]:
k = list(dic.keys())
v = list(dic.values())
f = pd.DataFrame(data=[k,v]).transpose()
f.columns=['lead_id', 'order']
print(f.sort_values(by = 'order', ascending = False))

    lead_id  order
13  18642.0    9.0
8    5267.0    9.0
23  20554.0    9.0
18  20366.0    9.0
14  18685.0    9.0
11  18053.0    9.0
25  20667.0    9.0
5    3516.0    9.0
2    2078.0    9.0
6    4552.0    9.0
0     406.0    4.0
20  20460.0    4.0
9    6671.0    4.0
24  20597.0    4.0
12  18567.0    4.0
1    1630.0    4.0
22  20553.0    4.0
3    2179.0    4.0
19  20414.0    4.0
21  20525.0    1.0
16  19798.0    1.0
15  18865.0    1.0
4    3464.0    1.0
17  19892.0    0.0
10   7588.0    0.0
7    5175.0    0.0