In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import timedelta

import wbdata

In [2]:
def f_unique_len_sum(df_payments, metrix):
# def f_unique_len_sum(df_payments, test_groups, metrix):
    test_groups = ['TG','CG1','CG2']
    out = []
    for test_group in test_groups:
        out.append(len(set(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['user ID'])))
    for test_group in test_groups:
        out.append(len(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['user ID']))
    for test_group in test_groups:
        out.append(df_payments[(df_payments['test group'] == test_group) & (df_payments[metrix] == True)]['revenue in cents'].sum())
    idx = ['payers__TG','payers__CG1','payers__CG2','payments__TG','payments__CG1','payments__CG2','revenue__TG','revenue__CG1','revenue__CG2']
    return(pd.DataFrame(out, columns = [metrix], index = idx))

In [3]:
# https://portraits.core.tf/app/kibana#/visualize/create?type=histogram&indexPattern=portraits&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(filters:!(('$$hashKey':'object:3287',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__TG'))),label:''),('$$hashKey':'object:3296',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__CG1')))),('$$hashKey':'object:3301',input:(query:(query_string:(analyze_wildcard:!t,query:'tags:Multirun_FullPremListWithoutWeek_Android_run1__CG2')))))),schema:segment,type:filters),(id:'3',params:(field:country,order:desc,orderBy:'1',size:200),schema:group,type:terms),(id:'4',params:(filters:!(('$$hashKey':'object:3189',input:(query:(query_string:(analyze_wildcard:!t,query:'referral:0'))),label:''),('$$hashKey':'object:3198',input:(query:(query_string:(analyze_wildcard:!t,query:'referral:1'))))),row:!t),schema:split,type:filters)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))
df_installs = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1_inst.csv')

# df_payments_TG = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG.csv')
# df_payments_CG1 = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1.csv')
# df_payments_CG2 = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2.csv')

df_payments_TG_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG_notref.csv')
df_payments_CG1_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1_notref.csv')
df_payments_CG2_notref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2_notref.csv')

df_payments_TG_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__TG_ref.csv')
df_payments_CG1_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG1_ref.csv')
df_payments_CG2_ref = pd.read_csv('Multirun_FullPremListWithoutWeek_Android_run1__CG2_ref.csv')

In [4]:
df_payments_TG_notref['ref'] = 'notref'
df_payments_CG1_notref['ref'] = 'notref'
df_payments_CG2_notref['ref'] = 'notref'

df_payments_TG_ref['ref'] = 'ref'
df_payments_CG1_ref['ref'] = 'ref'
df_payments_CG2_ref['ref'] = 'ref'

df_payments_TG = pd.concat([df_payments_TG_notref, df_payments_TG_ref])
df_payments_CG1 = pd.concat([df_payments_CG1_notref, df_payments_CG1_ref])
df_payments_CG2 = pd.concat([df_payments_CG2_notref, df_payments_CG2_ref])

In [5]:
df_installs.columns = ['test group','country','ref','users']
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('TG',x)) ), 'test group'] = 'TG'
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('CG1',x)) ), 'test group'] = 'CG1'
df_installs.loc[df_installs['test group'].map(lambda x: bool(re.search('CG2',x)) ), 'test group'] = 'CG2'
df_installs.loc[df_installs['ref'] == 'referral:0', 'ref'] = 'notref'
df_installs.loc[df_installs['ref'] == 'referral:1', 'ref'] = 'ref'

In [6]:
df_payments_TG['test group'] = 'TG'
df_payments_CG1['test group'] = 'CG1'
df_payments_CG2['test group'] = 'CG2'
df_payments = pd.concat([df_payments_TG,df_payments_CG1,df_payments_CG2])

In [7]:
df_payments['Product Id'] = df_payments['Product Id'].fillna('null')
df_payments['is_prem'] = df_payments['Product Id'].map(lambda x: bool(bool(re.search('prem',x)) + bool(re.search('vip',x)) + bool(re.search('trial',x))))
df_payments['is_trial'] = df_payments['Product Id'].map(lambda x:  bool(re.search('trial',x)) )
df_payments['is_coin'] = df_payments['Product Id'].map(lambda x:  bool(re.search('coin',x)) )
df_payments['is_like'] = df_payments['Product Id'].map(lambda x:  bool(re.search('like',x)) )
df_payments['is_bomb'] = df_payments['Product Id'].map(lambda x:  bool(re.search('bomb',x)) )

In [8]:
df_payments.head()

,ref ID,partner ID,ref date,user ID,registration date,payment ID,payment date,payment amount,revenue in cents,payment service ID,...,country,last app,Product Id,ref,test group,is_prem,is_trial,is_coin,is_like,is_bomb
0,NaN,NaN,NaN,117703943,2018-04-06 02:43:23,1,2018-04-20 03:42:06,393,275,147,...,UA,topfacemobappandroid,com.topface.topface.sub.vip.month.10,notref,TG,True,False,False,False,False
1,NaN,NaN,NaN,117702090,2018-04-05 23:53:22,1,2018-04-06 21:15:04,561,392,147,...,TR,topfacemobappandroid,com.topface.topface.sub.vip.month.10,notref,TG,True,False,False,False,False
2,NaN,NaN,NaN,117681392,2018-04-05 00:09:01,4,2018-04-09 02:10:45,1965,1375,147,...,KR,topfacemobappandroid,com.topface.topface.sub.trial.vip.month.13.3da...,notref,TG,True,True,False,False,False
3,NaN,NaN,NaN,117572875,2018-03-31 20:48:48,1,2018-03-31 20:49:42,2542,1779,147,...,CL,topfacemobappandroid,com.topface.topface.sub.vip.month.3.2699.v1,notref,TG,True,False,False,False,False
4,NaN,NaN,NaN,117694331,2018-04-05 16:32:24,4,2018-04-06 21:47:43,273,191,146,...,TR,topfacemobappandroid,com.topface.topface.sub.coins.month.40.5,notref,TG,False,False,True,False,False

In [9]:
# df_payments = df_payments[df_payments['ref ID'].isna()]
# df_payments = df_payments[~df_payments['ref ID'].isna()]

# df_payments = df_payments[df_payments['registration date'] < '2018-03-24']

In [10]:
df_payments['all'] = True
metrices = ['all','is_prem','is_trial','is_coin','is_like','is_bomb']

In [11]:
spend_by_types = pd.concat(list(map(lambda x: f_unique_len_sum(df_payments, x), metrices)), axis = 1)

In [12]:
spend_by_types

                  all  is_prem  is_trial  is_coin  is_like  is_bomb
payers__TG        271      237       124       71       41        4
payers__CG1       349      310       135       95       53        4
payers__CG2       323      288       121       81       46        3
payments__TG      512      293       155      164       50        5
payments__CG1     662      387       174      194       66       15
payments__CG2     599      358       155      151       66       15
revenue__TG    344406   287488    151616    45586    10612      720
revenue__CG1   353503   279561    155514    59528    12579     1835
revenue__CG2   316899   248355    138913    50632    13542     2929

In [13]:
# pd.concat(list(map(lambda x: f_unique_len_sum(df_payments[~(df_payments['ref ID'] > 0)], x), metrices)), axis = 1)

In [14]:
# pd.concat(list(map(lambda x: f_unique_len_sum(df_payments[df_payments['ref ID'] > 0], x), metrices)), axis = 1)

In [15]:
# df_installs = df_installs[df_installs['ref'] == 'notref']

In [16]:
m_installs_all = df_installs.pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_all = df_payments.pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_all = df_payments.pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

m_installs_notref = df_installs[df_installs['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_notref = df_payments[df_payments['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_notref = df_payments[df_payments['ref'] == 'notref'].pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

m_installs_ref = df_installs[df_installs['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='users', aggfunc=sum).fillna(0).applymap(float)
m_payments_ref = df_payments[df_payments['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='revenue in cents', aggfunc=sum).fillna(0).applymap(float)
m_payers_ref = df_payments[df_payments['ref'] == 'ref'].pivot_table(index='country', columns='test group', values='user ID', aggfunc=lambda x: len(set(x))).fillna(0).applymap(float)

In [17]:
out = pd.concat([m_installs_all, m_payments_all, m_payers_all, m_installs_notref, m_payments_notref, m_payers_notref, m_installs_ref, m_payments_ref, m_payers_ref], axis = 1).fillna(0)
writer = pd.ExcelWriter('installs_revenue_payers.xlsx')
out.to_excel(writer,'installs_revenue_payers')
writer.save()

In [62]:
indicators = {'NY.GNP.PCAP.CD':'GNI per Capita'}

test_countries = list(m_installs_all[m_installs_all.sum(axis = 1) > 500].index)

df = wbdata.get_dataframe(indicators, country=test_countries, convert_date=False)
df.reset_index(inplace=True)
df = df[df['date'] == '2016']

df.reset_index(inplace=True)
df['country_short'] = pd.Series(test_countries)

df = df[['country_short', 'GNI per Capita']]
df.set_index('country_short', inplace=True)

In [63]:
out.merge(df, left_index=True, right_index=True)

,CG1,CG2,TG,CG1,CG2,TG,CG1,CG2,TG,CG1,...,CG1,CG2,TG,CG1,CG2,TG,CG1,CG2,TG,GNI per Capita
AE,271.0,242.0,238.0,1373.0,1474.0,1988.0,2.0,3.0,2.0,116.0,...,155.0,137.0,121.0,1373.0,1474.0,1988.0,2.0,3.0,2.0,40480.0
AR,429.0,459.0,454.0,2240.0,5597.0,3058.0,1.0,3.0,2.0,135.0,...,294.0,327.0,325.0,0.0,3357.0,1938.0,0.0,2.0,1.0,11970.0
AZ,198.0,189.0,166.0,5144.0,1381.0,2230.0,5.0,2.0,1.0,81.0,...,117.0,109.0,93.0,484.0,1381.0,2230.0,1.0,2.0,1.0,4760.0
BD,458.0,467.0,446.0,0.0,349.0,0.0,0.0,1.0,0.0,142.0,...,316.0,330.0,323.0,0.0,349.0,0.0,0.0,1.0,0.0,1330.0
BG,197.0,204.0,199.0,2903.0,4028.0,0.0,4.0,2.0,0.0,38.0,...,159.0,176.0,163.0,2903.0,3391.0,0.0,4.0,1.0,0.0,7580.0
BO,166.0,188.0,181.0,775.0,1745.0,1018.0,1.0,2.0,1.0,49.0,...,117.0,137.0,122.0,775.0,1745.0,1018.0,1.0,2.0,1.0,5600.0
BR,2595.0,2676.0,2560.0,13302.0,3735.0,6677.0,13.0,4.0,7.0,343.0,...,2252.0,2314.0,2211.0,13302.0,3735.0,5130.0,13.0,4.0,5.0,3070.0
BY,296.0,287.0,318.0,3729.0,2745.0,3208.0,4.0,4.0,3.0,194.0,...,102.0,103.0,125.0,1523.0,968.0,2572.0,2.0,1.0,2.0,8840.0
CL,409.0,380.0,421.0,3648.0,0.0,1779.0,3.0,0.0,1.0,88.0,...,321.0,274.0,311.0,3648.0,0.0,0.0,3.0,0.0,0.0,13540.0
CO,1560.0,1539.0,1549.0,2653.0,9081.0,7132.0,4.0,10.0,7.0,446.0,...,1114.0,1097.0,1128.0,2653.0,4556.0,4638.0,4.0,5.0,5.0,6310.0
CR,201.0,199.0,195.0,2417.0,7259.0,1938.0,2.0,4.0,1.0,43.0,...,158.0,176.0,155.0,2417.0,7259.0,1938.0,2.0,4.0,1.0,10840.0
DE,259.0,270.0,292.0,6335.0,5482.0,4660.0,6.0,6.0,6.0,88.0,...,171.0,177.0,195.0,3777.0,3528.0,4660.0,4.0,4.0,6.0,43940.0
DZ,300.0,292.0,284.0,0.0,732.0,969.0,0.0,1.0,1.0,128.0,...,172.0,178.0,173.0,0.0,732.0,0.0,0.0,1.0,0.0,4220.0
EC,347.0,341.0,342.0,4069.0,2034.0,6895.0,3.0,3.0,4.0,101.0,...,246.0,243.0,237.0,861.0,2034.0,6257.0,1.0,3.0,3.0,5800.0
EG,214.0,245.0,217.0,1444.0,834.0,607.0,3.0,4.0,2.0,78.0,...,136.0,174.0,150.0,1444.0,834.0,441.0,3.0,4.0,1.0,3410.0
ES,457.0,532.0,475.0,2801.0,9968.0,16607.0,2.0,10.0,6.0,115.0,...,342.0,431.0,365.0,2801.0,8851.0,14767.0,2.0,9.0,4.0,27580.0
FR,263.0,242.0,227.0,21965.0,6823.0,15234.0,10.0,4.0,3.0,78.0,...,185.0,181.0,171.0,19318.0,776.0,10780.0,9.0,2.0,1.0,38720.0
GB,205.0,180.0,162.0,4340.0,1861.0,5115.0,5.0,2.0,5.0,104.0,...,101.0,95.0,78.0,3228.0,855.0,4558.0,4.0,1.0,4.0,42370.0
GH,217.0,187.0,194.0,0.0,1506.0,1037.0,0.0,1.0,2.0,126.0,...,91.0,72.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0,1380.0
IN,5627.0,5484.0,5553.0,72509.0,51726.0,47234.0,71.0,49.0,43.0,1284.0,...,4343.0,4214.0,4284.0,68074.0,42418.0,42039.0,66.0,45.0,38.0,1670.0
IT,199.0,184.0,185.0,2649.0,4072.0,826.0,4.0,5.0,1.0,96.0,...,103.0,98.0,91.0,1540.0,3016.0,0.0,2.0,4.0,0.0,31700.0
KZ,681.0,663.0,663.0,2136.0,169.0,3073.0,4.0,1.0,2.0,285.0,...,396.0,394.0,365.0,829.0,169.0,1983.0,2.0,1.0,1.0,8810.0
LK,180.0,175.0,184.0,2219.0,999.0,773.0,1.0,1.0,2.0,53.0,...,127.0,110.0,127.0,2219.0,0.0,773.0,1.0,0.0,2.0,3780.0
MA,171.0,175.0,168.0,0.0,792.0,0.0,0.0,1.0,0.0,71.0,...,100.0,100.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,2880.0
MD,169.0,173.0,182.0,1937.0,2714.0,178.0,2.0,1.0,1.0,49.0,...,120.0,117.0,118.0,1937.0,2714.0,0.0,2.0,1.0,0.0,2120.0
MX,1022.0,1054.0,1035.0,14309.0,19087.0,14350.0,15.0,20.0,12.0,279.0,...,743.0,790.0,772.0,13448.0,18177.0,14350.0,14.0,18.0,12.0,9040.0
NG,296.0,299.0,302.0,429.0,2153.0,1938.0,1.0,2.0,1.0,247.0,...,49.0,72.0,71.0,429.0,1454.0,1938.0,1.0,1.0,1.0,2450.0
NP,198.0,203.0,214.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,...,154.0,153.0,173.0,0.0,0.0,0.0,0.0,0.0,0.0,730.0
PE,484.0,470.0,480.0,5275.0,6539.0,5747.0,9.0,7.0,4.0,94.0,...,390.0,374.0,360.0,4548.0,6539.0,4750.0,8.0,7.0,3.0,1500.0
PH,511.0,474.0,490.0,884.0,5655.0,1584.0,1.0,7.0,2.0,88.0,...,423.0,377.0,383.0,884.0,4868.0,1584.0,1.0,6.0,2.0,5950.0
PK,710.0,805.0,762.0,1705.0,4216.0,2098.0,2.0,5.0,2.0,236.0,...,474.0,550.0,545.0,1705.0,3320.0,898.0,2.0,4.0,1.0,3580.0
PT,322.0,332.0,343.0,0.0,2544.0,1681.0,0.0,2.0,3.0,69.0,...,253.0,267.0,285.0,0.0,2544.0,1499.0,0.0,2.0,2.0,19870.0
RO,303.0,292.0,304.0,2317.0,8285.0,49.0,3.0,5.0,1.0,46.0,...,257.0,253.0,264.0,2317.0,6946.0,0.0,3.0,4.0,0.0,9480.0
TR,1994.0,2020.0,2007.0,30075.0,31100.0,37461.0,45.0,49.0,47.0,617.0,...,1377.0,1380.0,1402.0,18639.0,19691.0,29877.0,29.0,36.0,34.0,11230.0
UA,1523.0,1557.0,1525.0,25275.0,20659.0,46238.0,36.0,19.0,25.0,717.0,...,806.0,808.0,773.0,16561.0,15894.0,43068.0,26.0,14.0,20.0,2310.0
US,1615.0,1595.0,1620.0,24081.0,19007.0,28033.0,22.0,20.0,14.0,1011.0,...,604.0,613.0,617.0,16674.0,11079.0,24204.0,16.0,13.0,10.0,56850.0
UZ,221.0,194.0,209.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,...,175.0,149.0,153.0,0.0,0.0,0.0,0.0,0.0,0.0,2220.0

In [65]:
writer = pd.ExcelWriter('installs_revenue_payers.xlsx')
out.merge(df, left_index=True, right_index=True).to_excel(writer,'installs_revenue_payers')
writer.save()

In [70]:
df_payments[df_payments['payment provider'] == 'Ð”ÐµÐ½ÑŒÐ³Ð¸ Ð¾Ñ‚ Google Play'].groupby(['ref','test group'])['revenue in cents'].sum()

ref     test group
notref  CG1            48583
        CG2            46846
        TG             51138
ref     CG1           181893
        CG2           141646
        TG            153460
Name: revenue in cents, dtype: int64

In [71]:
df_payments[df_payments['payment provider'] == 'Ð”ÐµÐ½ÑŒÐ³Ð¸ Ð¾Ñ‚ Payment Ninja'].groupby(['ref','test group'])['revenue in cents'].sum()

ref     test group
notref  CG1            29839
        CG2            29753
        TG              8190
ref     CG1            81336
        CG2            84408
        TG            123255
Name: revenue in cents, dtype: int64

In [72]:
df_payments[df_payments['payment provider'] == 'Ð”ÐµÐ½ÑŒÐ³Ð¸ Ð¾Ñ‚ Google Play'].groupby(['ref','test group'])['user ID'].agg(lambda x: len(set(x)))

ref     test group
notref  CG1            44
        CG2            42
        TG             51
ref     CG1           198
        CG2           161
        TG            149
Name: user ID, dtype: int64

In [73]:
df_payments[df_payments['payment provider'] == 'Ð”ÐµÐ½ÑŒÐ³Ð¸ Ð¾Ñ‚ Payment Ninja'].groupby(['ref','test group'])['user ID'].agg(lambda x: len(set(x)))

ref     test group
notref  CG1           18
        CG2           17
        TG             6
ref     CG1           69
        CG2           76
        TG            44
Name: user ID, dtype: int64