In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import timedelta

In [2]:
def qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2):
    a = len(set(df_payments_TG['user ID'])), len(set(df_payments_CG1['user ID'])), len(set(df_payments_CG2['user ID'])), \
    len(df_payments_TG['user ID']), len(df_payments_CG1['user ID']), len(df_payments_CG2['user ID']), \
    df_payments_TG['revenue in cents'].sum(), df_payments_CG1['revenue in cents'].sum(), df_payments_CG2['revenue in cents'].sum()
    return(a)

In [3]:
# df_installs = pd.read_csv('Multirun_VIPDescription_Android_run2_inst.csv')

# df_payments_TG = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__TG.csv')
# df_payments_CG1 = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__CG1.csv')
# df_payments_CG2 = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__CG2.csv')

df_payments_TG = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__TG_ref.csv')
df_payments_CG1 = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__CG1_ref.csv')
df_payments_CG2 = pd.read_csv('Multirun_FullPremListWithoutWeek_IOS_run8__CG2_ref.csv')

In [4]:
df_payments_TG['test group'] = 'TG'
df_payments_CG1['test group'] = 'CG1'
df_payments_CG2['test group'] = 'CG2'
df_payments = pd.concat([df_payments_TG,df_payments_CG1,df_payments_CG2])

In [5]:
df_payments['Product Id'] = df_payments['Product Id'].fillna('null')
df_payments['is_prem'] = df_payments['Product Id'].map(lambda x: bool(bool(re.search('prem',x)) + bool(re.search('vip',x)) + bool(re.search('trial',x))))
df_payments['is_trial'] = df_payments['Product Id'].map(lambda x:  bool(re.search('trial',x)) )
df_payments['is_coin'] = df_payments['Product Id'].map(lambda x:  bool(re.search('coin',x)) )
df_payments['is_like'] = df_payments['Product Id'].map(lambda x:  bool(re.search('like',x)) )
df_payments['is_bomb'] = df_payments['Product Id'].map(lambda x:  bool(re.search('bomb',x)) )

In [6]:
df_payments.head()

,ref ID,partner ID,ref date,user ID,registration date,payment ID,payment date,payment amount,revenue in cents,payment service ID,...,place,country,last app,Product Id,test group,is_prem,is_trial,is_coin,is_like,is_bomb
0,9584,33,2018-04-22 14:36:28,118081361,2018-04-22 14:36:27,6,2018-04-23 09:46:45,1400,979,19,...,FromLikes,GB,topfacemobappios,com.topface.topface.buy.coins.100,TG,False,False,True,False,False
1,9467,63,2018-05-04 06:35:50,118363700,2018-05-04 06:35:49,2,2018-05-04 07:10:04,99,69,19,...,FromLikes,CR,topfacemobappios,com.topface.topface.buy.coins.6,TG,False,False,True,False,False
2,9501,63,2018-04-20 06:08:48,118033145,2018-04-20 06:08:47,1,2018-04-20 06:09:07,1511,1057,147,...,NaN,IN,topfacemobappios,com.topface.topface.premium.trial.month.1299,TG,True,True,False,False,False
3,9501,63,2018-04-30 13:50:59,118257705,2018-04-30 13:50:58,11,2018-05-03 20:15:12,118,82,19,...,FromLikes,IN,topfacemobappios,com.topface.topface.buy.coins.6,TG,False,False,True,False,False
4,9835,63,2018-04-19 18:29:03,118024196,2018-04-19 18:29:02,3,2018-04-19 18:43:56,1083,758,147,...,FromGuests,CN,topfacemobappios,com.topface.topface.premium.month.1,TG,True,False,False,False,False

In [7]:
# df_payments = df_payments[df_payments['ref ID'].isna()]
# df_payments = df_payments[~df_payments['ref ID'].isna()]

# df_payments = df_payments[df_payments['registration date'] < '2018-03-24']

In [8]:
df_payments_TG = df_payments[df_payments['test group'] == 'TG']
df_payments_CG1 = df_payments[df_payments['test group'] == 'CG1']
df_payments_CG2 = df_payments[df_payments['test group'] == 'CG2']

revenue_all = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [9]:
df_payments_TG = df_payments[(df_payments['test group'] == 'TG') & (df_payments['is_prem'] == True)]
df_payments_CG1 = df_payments[(df_payments['test group'] == 'CG1') & (df_payments['is_prem'] == True)]
df_payments_CG2 = df_payments[(df_payments['test group'] == 'CG2') & (df_payments['is_prem'] == True)]

revenue_prem = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [10]:
df_payments_TG = df_payments[(df_payments['test group'] == 'TG') & (df_payments['is_trial'] == True)]
df_payments_CG1 = df_payments[(df_payments['test group'] == 'CG1') & (df_payments['is_trial'] == True)]
df_payments_CG2 = df_payments[(df_payments['test group'] == 'CG2') & (df_payments['is_trial'] == True)]

revenue_trial = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [11]:
df_payments_TG = df_payments[(df_payments['test group'] == 'TG') & (df_payments['is_coin'] == True)]
df_payments_CG1 = df_payments[(df_payments['test group'] == 'CG1') & (df_payments['is_coin'] == True)]
df_payments_CG2 = df_payments[(df_payments['test group'] == 'CG2') & (df_payments['is_coin'] == True)]

revenue_coin = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [12]:
df_payments_TG = df_payments[(df_payments['test group'] == 'TG') & (df_payments['is_like'] == True)]
df_payments_CG1 = df_payments[(df_payments['test group'] == 'CG1') & (df_payments['is_like'] == True)]
df_payments_CG2 = df_payments[(df_payments['test group'] == 'CG2') & (df_payments['is_like'] == True)]

revenue_like = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [13]:
df_payments_TG = df_payments[(df_payments['test group'] == 'TG') & (df_payments['is_bomb'] == True)]
df_payments_CG1 = df_payments[(df_payments['test group'] == 'CG1') & (df_payments['is_bomb'] == True)]
df_payments_CG2 = df_payments[(df_payments['test group'] == 'CG2') & (df_payments['is_bomb'] == True)]

revenue_bomb = qunique_len_sum(df_payments_TG, df_payments_CG1, df_payments_CG2)

In [14]:
revenue_all, revenue_prem, revenue_trial, revenue_coin, revenue_like, revenue_bomb

((838, 1046, 1052, 1239, 1754, 1772, 638090, 557195, 582735),
 (529, 837, 852, 532, 1101, 1107, 477713, 415444, 435258),
 (192, 204, 263, 193, 277, 346, 188209, 162920, 205420),
 (323, 305, 329, 411, 367, 421, 90167, 75847, 89634),
 (238, 228, 203, 295, 282, 239, 69480, 65157, 55958),
 (0, 0, 0, 0, 0, 0, 0, 0, 0))